<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <a href="/">
                <img src="img/logo-navbar.png" alt="SeaCloud" class="img-fluid">
            </a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="/">Home</a></li>
                <li><a class="nav-link" href="{{ path ('about') }}">About</a></li>
                <li><a class="nav-link" href="{{ path ('services') }}">Services</a></li>
                <li><a class="nav-link" href="{{ path ('contact') }}">Contact</a></li>
                <li><a class="sign-up" href="{{ path ('sign-up') }}">Sign up</a></li>
                <li><a class="sign-in" href="{{ path ('sign-in') }}">Sign in</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>